:root {
    --bg-color-body: #011212;
    --bg-color-ball: #ff8800;
    --width-height-ball: 100px;
    --border-radius: 50px;
}


body {
    background-color: var(--bg-color-body);
}

.ball {
    width: var(--width-height-ball);
    height: var(--width-height-ball);
    background-color: var(--bg-color-ball);
    border-radius: var(--border-radius);
}